<html>
<head>
	<title></title>
</head>
<body>

	<h1> <%= @hint %></h1>

	<% @directions.each do |turn| %>
	<div>
		<li> <%= turn["html_instructions"].html_safe %> </li>
		<p> <%= turn["distance"]["text"] %>, <%= turn["duration"]["text"] %> </p>
	</div>
	<% end %>

</body>
</html>


