<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h3>Here are your previous adventures, <%= @current_user.name %> </h3>



	<% @current_user.adventures.each do |adven| %>
		<li> <%= adven.name %> on <%= adven.created_at %></li>
	<% end %>

	
</body>
</html>