<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>LOG IN TO START AN ADVENURE!</h1>

	<%= form_tag "/sessions" do %>
		Email
		<%= email_field_tag :email %> <br>
		Password
		<%= password_field_tag :password %>
		<%= submit_tag "log in!" %>
	<% end %>

	<div>
		Don't have an account?
		<a href="/users/new"> Sign up here! </a>
	</div>
	
</body>
</html>