<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h3>Welcome, <%= link_to @current_user.name, edit_user_path(@current_user) %>! </h3>
	<%= link_to "past adventures", user_prev_adventures_path(@current_user) %>

	<h2>Ready to go on a journey?</h2>

</body>
</html>