<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="/welcome.css"> -->
</head>
<body>
	<video autoplay loop poster="polina.jpg" id="bgvid">
		<source src="https://pdlvimeocdn-a.akamaihd.net/61594/768/159877053.mp4?token2=1440998311_e9e9ccf5732c7b6785885fd69a606f9e&aksessionid=69f9ef214f0ab54a">
		<source src="https://pdlvimeocdn-a.akamaihd.net/61594/768/159877053.mp4?token2=1440998311_e9e9ccf5732c7b6785885fd69a606f9e&aksessionid=69f9ef214f0ab54a">
	</video>
</body>
</html>








