<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="/welcome.css"> -->
</head>
<body>
	<div class="header">
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="main-butt">
					<button class="btn btn-default" type="button" id="lr"><a href="/sessions/new"> LOGIN </a>
					</button> <button class="btn btn-default" type="button" id="lr"><a href="/users/new"> SIGNUP </a></button>
				</div>
			</div>	
		</div>
	</div>
	<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
			<!-- h1 class="animated lightSpeedIn" id="main"> We are going on an adventure... </h1>
			<h1 class="animated lightSpeedIn" id="mainone"> Login when you are ready. </h1> -->
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<video autoplay loop poster="polina.jpg" id="bgvid">
		<source src="https://pdlvimeocdn-a.akamaihd.net/61594/768/159877053.mp4?token2=1440969558_944d7c2cd3db38e43dff5e8416bf8622&aksessionid=f54134be424fbb85#t=3">
		<source src="https://pdlvimeocdn-a.akamaihd.net/61594/768/159877053.mp4?token2=1440969558_944d7c2cd3db38e43dff5e8416bf8622&aksessionid=f54134be424fbb85#t=3">
	</video>
	<footer class="footer navbar-fixed-bottom" id="fter">
     <div class="container">
     	<h6> <a href="https://github.com/Advenran/Adventure-Randomizer"> Github </a> </h6>
     </div>
	</footer>
</body>
</html>

