<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="/welcome.css"> -->
</head>
<body>
	<div class="header">
		<div class="row">
			<div class="col-md-4">
			<img src="<%= asset_path( 'ugh.png' ) %>" class="img-responsive" id="logo"/>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="main-butt">
					<button class="btn btn-default" type="button" id="lr"><a href="/sessions/new"> LOGIN </a>
					</button> <button class="btn btn-default" type="button" id="lr"><a href="/users/new"> SIGNUP </a></button>
				</div>
			</div>	
		</div>
	</div>
	<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
			<!-- h1 class="animated lightSpeedIn" id="main"> We are going on an adventure... </h1>
			<h1 class="animated lightSpeedIn" id="mainone"> Login when you are ready. </h1> -->
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<video autoplay loop poster="polina.jpg" id="bgvid">
		<source src="https://pdlvimeocdn-a.akamaihd.net/61594/768/159877053.mp4?token2=1440998311_e9e9ccf5732c7b6785885fd69a606f9e&aksessionid=69f9ef214f0ab54a">
		<source src="https://pdlvimeocdn-a.akamaihd.net/61594/768/159877053.mp4?token2=1440998311_e9e9ccf5732c7b6785885fd69a606f9e&aksessionid=69f9ef214f0ab54a">
	</video>
	<footer class="footer navbar-fixed-bottom" id="fter">
     <div class="row">
			<div class="col-md-4">
				<a href="https://github.com/Advenran/Adventure-Randomizer"><img src="<%= asset_path( 'white.png' ) %>"/></a>
			</div>
			<div class="col-md-4">
				<div class="container">
     			</div>
			</div>
			<div class="col-md-4">
				<h6 id="copyright">Copyright ©2015, All Rights Reserved</h6>
			</div>
	</div>
	</footer>
</body>
</html>








