<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="/welcome.css"> -->
</head>
<body>
	<button class="btn btn-default" type="button"><a href="/sessions/new"> Login </a></button>  
	<button class="btn btn-default" type="button"><a href="/users/new"> Register </a></button>
	<h1> We are going on an adventure... </h1>
</body>
</html>

