.main{
	background-color: rgba(85, 187, 170, 0.5);
	padding: 15%;
}

.big{
	color:white;
	text-align:center;
	position:relative;
	top:6em;
}

#tag-line{
	background-color: #223A36;
    font-size: 25px;
    padding: 10px;
    color: #00C0AC;
}

.pass{
		padding-top: 3px;
	    margin-right: 2.4em;
}

.form-group{
	    color: #223A36;
}

label{
	    color: white;
}